<div class="search-box">
  <div class="search-box-text">Find your hotel for the best price</div>
  <div class="">
    <form role="form" class="search-box-form">
      <input
        type="search"
        placeholder="Hotel Name or Destination"
        class="search-box-form-input"
      />
      <button class="search-box-form-button" type="button">
        <i class="fa fa-search d-block d-sm-none"></i>
        <span class="d-none d-md-block">SEARCH</span>
      </button>
    </form>
  </div>
</div>
